<style>
    img {
        width: 150px;
        height: 80px;
        margin: 7rem;
    

    }
</style>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
<a href="{{url_for('main.science_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNjaWVuY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid"
              alt="">
            
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <a href="{{url_for('main.anaconda_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://media.istockphoto.com/photos/green-anaconda-eunectes-murinus-los-lianos-in-venezuela-picture-id1257180046?b=1&k=20&m=125" class="img-fluid"
              alt="">
            
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <a href="{{url_for('main.alien_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://media.istockphoto.com/photos/alien-picture-id664373658?b=1&k=20&m=664373658&s=170667a&w=0&h=Gt8n3xXyihdMIuc2_S-2U-uR8i-TvSyXGLFMWvpGswE=" class="img-fluid"
              alt="">
            
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <a href="{{url_for('main.birds_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://images.unsplash.com/photo-1612024782955-49fae79e42bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="img-fluid"
              alt="">
            
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <a href="{{url_for('main.culture_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://media.istockphoto.com/photos/sadhu-indian-holymen-sitting-in-the-temple-picture-id863655882?b=1&k=20&m=863655882&s=170667a&w=0&h=UgarBkdQLJZdhMa58IqO-72s5Xbes03LXokGD696bv4=" class="img-fluid"
              alt="">
            
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <a href="{{url_for('main.poetry_blogs')}}">
          <div class="view overlay z-depth-1-half">
            <img src="https://media.istockphoto.com/photos/poetry-word-cloud-on-napkin-with-coffee-picture-id671888862?b=1&k=20&m=671888862&s=170667a&w=0&h=x3-3eYwDJLgFVrD4dP5PfV-LoW6RiAp8BVmhkFEGUWU=" class="img-fluid"
              alt="">
           
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://OneMinuteblog.com/">OneMinuteblog</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->