{% extends "base.html" %}

{%block styles%}
    {{ super() }}
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
{% block content %}
<style>
    
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');
body {
    font-family: 'Gluten', cursive;
}

</style>
<div class="container-fluid" style="background-color: bisque; padding: 80px;">
    <div class="text-center">
        <h1 style="color:brown;">cynie blog</h1>
        <p> "{{ quote.quote }}" </p>
        <p><i>{{ quote.author }}</i</p>
    </div>
</div>
<div class="text-center">
<div class="container" style="padding-bottom: 20px; margin: 5rem;">
    <a href="{{url_for('main.new_blog')}}" class="btn btn-success">Create blog</a>
</div>
</div>
<div class="container" style= "font-family: 'Gluten', cursive;;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Scientific blogs</h3>
                <p>Science to the rescue? After the success of genetically modified organisms in things like insulin and food, a recent trend is Genetically Rescued Organisms. </p>
                <a href="{{url_for('main.science_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Environmental blogs</h3>
                <p>Within seconds, natural disasters can destroy buildings, tear up roads and upturn normal life. The damage these events cause, however, isn’t just limited to people and their property</p>
                <a href="{{url_for('main.anaconda_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3> Education blogs</h3>
                <p>And what are the barriers to education for girls and young women, in particular?

                </p>
                <a href="{{url_for('main.alien_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
</div>
<div class="container" style= "font-family: 'Gluten', cursive;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Bussiness blogs</h3>
                <p>The world has gone digital. If you haven’t taken your business there with a smart digital strategy, you’ll never get ahead of the competition.</p>
                <a href="{{url_for('main.birds_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Cultural blogs</h3>
                <p>lets talk about our diverse cultures..</p>
                <a href="{{url_for('main.culture_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>love blogs</h3>
                <p>Witness life’s ups and downs through the eyes of love bogs</p>
                <a href="{{url_for('main.poetry_blogs')}}" class="btn btn-primary -center">View</a>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>

</div>
</div>

{% endblock %}