{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: bisque; color: brown; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1>Poetry blogs</h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">
    <hr>
    <div class="row">
        {{macro.displayblogs(blogs)}}
    </div>
</div>
<br><br><br>
<div class="container-fluid" style="background-color: bisque; ">
    {% include "footer.html" %}
    </div>
{%endblock%}